body {
  font-family: var(--font-family-base);
  background-color: var(--clr-neutral-400);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  min-height: 100vh;
  display: grid;
  justify-content: center;
  margin: 5rem 0rem;
}

.main-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 75vw;
}

.name-card {
  display: grid;
  grid-template-rows: auto auto;
  background-color: var(--clr-neutral-300);
  border-radius: 1rem;
}

.user-card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0rem 1rem;
  background-color: var(--clr-accent-name);
  align-items: center;
  padding: 1.5rem;
  border-radius: inherit;
}

.profile-pic {
  grid-row: 1 / span 2;
  height: 4rem;
  border: 3px solid white;
  border-radius: 50%;
}

.user-card > p {
  font-size: var(--font-size-sm);
  color: var(--clr-neutral-100);
}

.user-card > h1 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-light);
  align-self: flex-start;
  color: white;
}

.timeframe-options {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  color: var(--clr-neutral-200);
}

.timeframe-options > button {
  all: unset;
  cursor: pointer;
}

button:hover,
/* button:active, */
button:focus {
  color: white;
}

.activity-time-card {
  display: grid;
  background-color: var(--clr-accent-work);
  overflow: hidden;
  border-radius: 1rem;
}

.timecard-top {
  position: relative;
  height: 2.5rem;
}

.activity-img-rep {
  position: absolute;
  top: -0.8rem;
  right: 0.8rem;
}

.info-card {
  background-color: var(--clr-neutral-300);
  padding: 1.2rem;
  border-radius: 1rem;
  box-shadow: -1px 0 0 0 var(--clr-neutral-300),
    1px 0 0 0 var(--clr-neutral-300); /* Hack to fill tiny gaps - fractional pixel rounding issue */
  z-index: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
  align-items: center;
}

.title {
  font-size: inherit;
  color: white;
  font-weight: inherit;
}

.info-card > img {
  justify-self: end;
}

.current-total-time {
  font-size: var(--font-size-xl);
  color: white;
  font-weight: var(--font-weight-light);
}

.previous-total-time {
  font-size: var(--font-size-sm);
  color: var(--clr-neutral-100);
  justify-self: end;
}

@media (min-width: 768px) {
  .main-section {
    width: 50vw;
  }
}

@media (min-width: 1048px) {
  body {
    place-content: center;
    margin: unset;
  }

  .main-section {
    width: unset;
    display: grid;
    margin-inline: 5rem;
    max-width: 70vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .user-card {
    grid-template-columns: 1fr;
  }

  .name-card {
    grid-row: 1 / -1;
  }

  .info-card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 0.5rem;
    align-items: center;
  }

  .previous-total-time {
    grid-column: 1;
  }

  .timeframe-options {
    flex-direction: column;
  }
}
